<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/assets/style.css" />
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <header class="site-nav">
      <span aria-label="Max Hully" class="name name--small">{% include name.svg %}</span>
    </header>
    <main class="post centered">
      <h1 class="post__header">{{ page.title }}</h1>
      <time class="post__date">{{ page.date | date: "%B %d %Y (a %A)" }}</time>
      <div class="post__content">
      {{ content }}
      </div>
    </main>
  </body>
</html>
